.contactHeading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactForm{
    margin-top: 80px;
    max-width: 1200px;
}

.contactForm h1{
    font-size: 35px;
    font-weight: 800;
}
.contactForm p{
    padding-top: 10px;
    color: #5A5959;
}

          /* 3 Button Open */
.form-btns{
    min-width: 212px;
    height: 45px;
    margin-right: 17px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}
.form-btns i{
    padding-right: 3px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.form-btns-outline i{
    padding-right: 3px;
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.form-btns-outline{
    font-weight: 600;
    font-size: 16px;
    min-width: 440px;
    height: 45px;
    margin-right: 17px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 20px;
}

                /* 3 Button END */


 /*               FORM SECTION  OPEN*/

.formSection{
    display: flex;
    max-width: 1200px;
    height: 600px;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}
.form-box{
    width: 600px;
    position: relative;
}

form input{
    display:flex;
    flex-direction: column;
    width: 440px;
    height: 40px;
    outline: none;
    margin-bottom: 30px;
    padding-left: 10px;
    
}
#form-label{
    position: absolute;
    top: -10px;
    margin-left: 20px;
    background-color: white;
    padding: 0 2px;
}

#form-email{
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
    background-color: white;
    padding: 0 2px;
}

#text-area{
    min-width: 440px;
    max-width: 500px;
    font-size: 16px;
    padding-top: 10px;
    outline: none;
    padding-left: 10px;
}

.formBox-btn{
    padding: 10px 70px;
    border: none;
    background-color: rgb(41, 106, 235);
    color: white;
    font-weight: 500;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}
.propBtn{
    margin-bottom: 20px;
}



 /*               FORM SECTION  END*/

    
/*               CONTACT IMAGE  OPEN*/

.contactImg img{
    height: 450px;
}

/*               CONTACT IMAGE  END*/