*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}

html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

nav{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    margin-left: 30px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.btn{
    margin-right: 30px;
    height: 30px;
    width: 70px;
    background-color: red;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}


                /* HeRO SECTION  */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    max-width: 600px;
    
}
.hero-content h1{
    padding-top: 30px;
    font-weight: 800;
    font-size: 6vw;    
    line-height: 5.8vw;
    color: #000000;
}
.hero-content p{
    padding-top: 40px;
    color: #5A5959;
}

.hero-img{
    width: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.hero-img img{
    width: 530px;
    height: 488px;
}

.hero-btn{
    padding-top: 30px;
}
.btn1{
    height: 30px;
    width: 100px;
    background-color: red;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn2{
    height: 30px;
    width: 100px;
    
    color: black;
    border: 1px solid #5A5959;
    outline: none;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.shopping p{
    font-size: 13px;
    padding-top: 20px;
    font-weight: bold;

}
.brand-logo{
    width: 80px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}


/* TABLET VIEW */

@media only screen and (max-width: 1080px) {
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }
    .hero-content h1{
        font-size: 50px;
    }

    .hero-img img{
        width: 400px;
        height: 400px;
    }
}

/* LANDSCAPE VIEW */

@media only screen and (max-width: 750px) {
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero-content h1{
        font-size: 30px;
    }

    
  }

  /* MOBILE VIEW */

@media only screen and (max-width: 500px) {
    nav ul{
        display: none;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero-content h1{
        font-size: 20px;
    }
    .hero-img img{
        width: 300px;
        height: 300px;
    }

    
  }